{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% trans "Question related to previous dots spot image" %}
{% endblock %}

{% block content %}
<div class="card card-default">
<div class="card-body">
{% block info %}
<p class="lead">
  {% blocktrans %}
  Please note, that a total of {{ ndots }} dots were shown.
  {% endblocktrans %}
</p>
{% endblock %}

{% for field in form %}
    {% formfield field %}
{% endfor %}

{% next_button %}
</div>
</div>
{% endblock %}

{% block styles %}
{% endblock %}
