{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}


{% block styles %}
<style>
  .otree-title, .otree-timer {display: none};
</style>
{% endblock %}

{% block content %}

{% if debug_mode is True %}
<div style="text-align: center;">
  <p>(debug only) number of reds: <b>{{ group.dotspot_reds }}</b></p>
</div>
{% endif %}

<div id="dotspot-div" style="text-align: center; padding: 3em"></div>
<script type="text/javascript" src="{% static 'dotspot/d3.v3.min.js' %}"></script>
<script>
  var data = {{ data|json }};
  try{
      var data = eval(data);
  }catch(e){
      true
  }
  var size = 500;
  var margin = 20;
</script>

<script>
  var radius = 3.5;
  var stroke_width = .5;
  var size = 500;
  var margin = 20;

  var chart = d3.select('#dotspot-div')
  .classed("svg-container", true)
  .append('svg')
  .attr("id", "dotspot")
  .attr('width', size + margin)
  .attr('height', size + margin)
  .attr("preserveAspectRatio", "xMinYMin meet")
  .attr("viewBox", [0, 0, size, size].join(" "))
      .attr("style", "border: 1px solid black;");
  var x = d3.scale.linear()
  .domain([d3.min(data.map(function(d){return d.x;})),
       d3.max(data.map(function(d){return d.x;}))])
  .range([ margin, size - margin]);
  var y = d3.scale.linear()
  .domain([d3.min(data.map(function(d){return d.y;})),
       d3.max(data.map(function(d){return d.y;}))])
  .range([ size - margin, margin]);
  var points_layer = chart.append("g");
   points_layer.selectAll(".dot")
       .data(data)
       .enter().append("circle")
       .attr("class", "dot")
       .attr("r", radius)
       .attr("cx", function(d) {return x(d.x)})
       .attr("cy", function(d) {return y(d.y)})
       .style("fill", function(d) { return d.color;})
               .style("stroke-width", String(stroke_width))
               .style("stroke", function(d) { return d3.rgb(d.color ).darker(1.3) ;})
</script>

{% block info %}

  {% if info %}
  <div class="card card-default">
    <div "card-body">
      <p>{{ info }}</p>
        {% next_button %}
    </div>
  </div>
  <script>
    // document.getElementsByClassName("otree-btn-next")[0].className += " float-right"
  </script>
  {% endif %}
  {% endblock %}


{% endblock %}
