{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% trans "Instructions for the next page" %}
{% endblock %}
{% block content %}

  <div class="card card-default">
    <div "card-body">
      <p>{{ info }}</p>
        {% next_button %}
    </div>
  </div>


{% endblock %}
