{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% blocktrans %}
DotSpot debug page, not shown in production
{% endblocktrans %}
{% endblock %}

{% block content %}

<table>
  <caption>debug info</caption>
  <tr>
    <th> dotspot_guess </th>
    <th> {{ player.dotspot_guess }} </th>
  </tr>
  <tr>
    <th> dotspot_correct </th>
    <th> {{ player.dotspot_correct }} </th>
  </tr>
  <tr>
    <th> dotspot_guess_earnings </th>
    <th> {{ player.dotspot_guess_earnings }} </th>
  </tr>
  <tr>
    <th> dotspot_expected_error </th>
    <th> {{ player.dotspot_expected_error }} </th>
  </tr>
  <tr>
    <th> dotspot_realized_error </th>
    <th> {{ player.dotspot_realized_error }} </th>
  </tr>
  <tr>
    <th> dotspot_error_earnings </th>
    <th> {{ player.dotspot_error_earnings }} </th>
  </tr>
  <tr>
    <th>dotspot earnings from </th>
    <th>{{ player.dotspot_round_earnings_from }}</th>
  </tr>
  <tr>
    <th>dotspot round earnings </th>
    <th>{{ player.dotspot_round_earnings }}</th>
  </tr>
  <tr>
    <th>total payoff</th>
    <th> {{ participant.payoff }}</th>
  </tr>
</table>

<div class="control-group" style="margin-top: 2em;">
{% next_button %}
</div>
{% endblock %}
