{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% trans "Instructions for the next page" %}
{% endblock %}
{% block content %}

<div class="card card-default" id="instructions">
  <div class="card-heading">
    <h4>{% trans "Spot the number of red dots" %}</h4>
  </div>
  <div class="card-body">
    <p>
      {% blocktrans %}
      On the next page you be shown an image with a total of {{ ndots }} dots.
      Some dots will be <b>red</b> and some will be <b>blue</b>.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      The image will be shown for for {{ sec }} seconds and disappear afterwards.
      It will not be possible to review the image more than once.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      After the image has been displayed, you will be asked to guess
      how many <b>red</b> dots the image contained.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      <i>Your guess will be rewarded according to the correctness of your guess at the end of the experiment</i>
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      When you are ready, please click <i>next</i>.
      {% endblocktrans %}
    </p>
  </div>
{% next_button %}

{% endblock %}
